[Unit]
Description=TUI display manager on %I
After=systemd-user-sessions.service plymouth-quit-wait.service
Conflicts=getty@%i.service kmsconvt@%i.service ly-kmsconvt@%i.service

[Service]
Type=simple
ExecStartPre=/usr/bin/clear
ExecStart=$PREFIX_DIRECTORY/bin/$EXECUTABLE_NAME
Type=simple
Restart=always
RestartSec=0
UtmpIdentifier=%I
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
IgnoreSIGPIPE=no
SendSIGHUP=yes

[Install]
Alias=autovt@.service
WantedBy=multi-user.target
DefaultInstance=tty2
